/*!
 * GhostImage v1.1
 * MIT License
 * https://operat.github.io/ghostimage
 */

.ghostimage {
   align-items: center;
   display: flex;
   justify-content: center;
   left: 50%;
   position: fixed;
   top: 50%;
   z-index: 30;
}

@media (min-device-width: 0px) {
   .ghostimage {
      height: 250px;
      margin-top: -125px;
      margin-left: -125px;
      width: 250px;
   }
}

@media (min-device-width: 351px) {
   .ghostimage {
      height: 300px;
      margin-top: -150px;
      margin-left: -150px;
      width: 300px;
   }
}

@media (min-device-width: 476px) {
   .ghostimage {
      height: 450px;
      margin-top: -225px;
      margin-left: -225px;
      width: 450px;
   }
}

@media (min-width: 601px) {
   .ghostimage {
      height: 600px;
      margin-left: -300px;
      margin-top: -300px;
      width: 600px;
   }
}

.ghostimage--closed {
   display:none;
}

.ghostimage__image {
   box-shadow: 0px 5px 10px rgba(100,100,100,0.5);
   max-height: 100%;
   max-width: 100%;
}

.ghostimage__ghost {
   cursor: pointer;
   z-index: 1000;
}

.ghostimage__trigger {
   background-color: #fffcc9;
   border-bottom: 1px dashed #666;
}
